{
    "extends": "airbnb-base",
    "rules": {
        "max-len": [1, 150],
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "no-param-reassign": ["error", { "props": false }],
        "no-underscore-dangle": "off"
    }
}
